
@media screen and (min-width: 280px){

  section {
    padding: 30px 20px;
  }

  .time-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .margin-20 {
    margin: 20px;
    font-size: 100px;
    padding: 0 25px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgba(190, 254, 216, .3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'card-1'
    'card-2'
    'card-3'
    'card-4'
    'card-5';
    grid-gap: 20px;
  }
}

@media screen and (min-width: 300px){
  .time-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .margin-20 {
    margin: 20px;
    font-size: 120px;
    padding: 0 25px;
    border-radius: 20px;
    color: #ffffff;
    background-color: rgba(190, 254, 216, .3);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
  }



  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'card-1'
    'card-2'
    'card-3'
    'card-4'
    'card-5';
    grid-gap: 20px;
  }
}





@media screen and (min-width: 768px){
  .time-container {
    flex-direction: row;
  }

  .margin-20 {
    font-size: 150px;
  }

  section {
    padding: 40px 60px;
  }
}

@media screen and (min-width: 1024px){
  .margin-20 {
    font-size: 150px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'card-1 card-1'
    'card-2 card-4'
    'card-3 card-3'
    'card-5 card-5';
  }

  .stars {
    position: relative;
    height: 350px;
    width: 50%;
  }

  .card__star_1 {
    position: absolute;
    top: 10%;
    left: -20%;
  }

  .card__star_2 {
    position: absolute;
    top: 35%;
    left: 5%
  }

  .card__star_3 {
    position: absolute;
    top: 60%;
    left: 30%;
  }

  .client-cards {
    position: relative;
    height: 300px;
  }

  .card__1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30%;
  }

  .card__2 {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 30%;
  }

  .card__3 {
    position: absolute;
    top: 10%;
    left: 70%;
    width: 30%;
  }
}

@media screen and (min-width: 1200px){
  .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-areas: 
  'card-1 card-1 card-2 card-3'
  'card-4 card-5 card-5 card-3';
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container .text-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-section {
  width: 50%;
  margin-right: 80px;
}

.text-stars .stars {
  position: relative;
  width: 30%;
}

.text-stars .card__star_1 {
  position: absolute;
  left: -50%;

}

.text-stars .card__star_2 {
  position: absolute;
  left: -30%;
}

.text-stars .card__star_3 {
  position: absolute;
  left: -10%;
}

}


@media all and (orientation:landscape){
  .time-container {
    flex-direction: row;
  }

  

  
}
















/* 
@media screen and (max-width: 800px){
    header {
      height: 100vh;
    }
  
    .time-container {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
  
    .margin-20 {
      font-size: 100px;
    }
  } */

 
