
@media screen and (max-width: 800px){
    header {
      height: 100vh;
    }
  
    .time-container {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
  
    .margin-20 {
      font-size: 100px;
    }
  }

  @media screen and (max-width: 1000px){
    .grid {
      grid-template-areas: 
  'card-1 card-1 card-2'
  'card-4 card-5 card-5'
  'card-3 card-3';
  grid-gap: 10px;
    }
}
